{% extends "bases/base.html" %}
{% load static %}
    
{% block 'head' %}

    <link rel="stylesheet" href="{% static 'fincaneiro/CSS/css.css' %}" >

{% endblock 'head' %}


{% block 'conteudo' %}

    {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form action="{% url 'adicionar_estoque' %}" method="POST">{% csrf_token %}
        <label for="produtos_existentes">Atualizar produto existente</label>
        <select class="select form-control bg-select" name="produtos_existentes">
            <option class="opt" value=""></option>
            {% for produto in produtos %}
                    <option class="opt" value="{{produto.id}}">{{produto.nome}}</option>
            {% endfor %}
        </select>
        <label for="novo_produto">Novo produto</label>
        <input type="text" name="novo_produto"></input>
        <label for="quantidade">Quantidade comprada</label>
        <input type="number" name="quantidade"></input>
        <label for="valor">Valor Total</label>
        <input type="number" name="valor"></input>
        <button class="btn-secundario">Fechar pedido</button>
    </form>



    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const selectProdutosExistentes = document.getElementById('produtos_existentes');
            const inputNovoProduto = document.getElementById('novo_produto');
    
            selectProdutosExistentes.addEventListener('change', function() {
                if (selectProdutosExistentes.value) {
                    inputNovoProduto.disabled = true;
                } else {
                    inputNovoProduto.disabled = false;
                }
            });
    
            inputNovoProduto.addEventListener('input', function() {
                if (inputNovoProduto.value) {
                    selectProdutosExistentes.disabled = true;
                } else {
                    selectProdutosExistentes.disabled = false;
                }
            });
        });
    </script>


{% endblock %}