{% extends "bases/base.html" %}
{% load static %}
    
{% block 'head' %}

    <link rel="stylesheet" href="{% static 'fincaneiro/CSS/css.css' %}" >
    <link rel="stylesheet" href="{% static 'financeiro/CSS/cabecalho.css' %}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock 'head' %}


{% block 'conteudo' %}

    {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="body">
        <header>
            <div class="logo">
                <a href="/"><img class="foto" src="{% static 'geral/imagem/Finance2.png' %}"/></a>
            </div>
            <div class="meio">
                <h1>Controle Financeiro</h1>
                <nav>
                    <div class="bordaInicio">
                        <a href="{% url 'estoque'%}"><span>Estoque</span></a>
                    </div>
                    <div class="bordaMeio">
                        <a href="{% url 'vendas' %}"><span>Vendas</span></a>
                    </div>
                    <div class="bordaMeio">
                        <a href="{% url 'relatorio' %}"><span>Financeiro</span></a>
                    </div>
                    <div class="bordaFim">
                        <span>Contatos</span>
                    </div>
                </nav>
            </div>
            <div class="login">
                <div>
                </div>
                <div>
                    <img src="https://w7.pngwing.com/pngs/339/876/png-transparent-login-computer-icons-password-login-black-symbol-subscription-business-model.png" alt="Imagem Login" class="imageLogin">
                </div>
                <div class="textoLogin">
                    <p>Faça seu <strong><a href="../../usuarios/login">LOGIN</a></strong> ou crie seu <strong><a href="../../usuarios/cadastro">CADASTRO</a></strong></p>
                </div>
            </div>
        </header>


       

            <form action="{% url 'adicionar_vendas' %}" method="POST">{% csrf_token %}
                <label for="produtos_existentes">Produtos</label>
                <select class="select form-control bg-select" name="produtos_existentes">
                    {% for produto in produtos %}
                        {% if produto.quantidade > 0 %}
                            <option class="opt" value="{{produto.id}}">{{produto.nome}}</option>
                        {% endif %} 
                    {% endfor %}
                </select>
                <label for="quantidade">Quantidade Vendidade</label>
                <input type="number" name="quantidade"></input>
                <label for="valor">Valor Total</label>
                <input type="number" name="valor"></input>
                <button class="btn-secundario">Fechar pedido</button>
            </form>
    </div>
        


{% endblock %}