{% extends "bases/base.html" %}
{% load static %}
    
{% block 'head' %}

    <link rel="stylesheet" href="{% static 'fincaneiro/CSS/css.css' %}" >
    <link rel="stylesheet" href="{% static 'financeiro/CSS/cabecalho.css' %}">
    <link rel="stylesheet" href="{% static 'financeiro/CSS/modal.css' %}">
    <link rel="stylesheet" href="{% static 'financeiro/CSS/tabelaEstoque.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    

{% endblock 'head' %}


{% block 'conteudo' %}

    <div class="body">
        <header>
            <div class="logo">
                <a href="/"><img class="foto" src="{% static 'geral/imagem/Finance2.png' %}"/></a>
            </div>
            <div class="meio">
                <h1>Controle Financeiro</h1>
                <nav>
                    <div class="bordaInicio">
                        <a href="{% url 'estoque'%}"><span>Estoque</span></a>
                    </div>
                    <div class="bordaMeio">
                        <a href="{% url 'vendas' %}"><span>Vendas</span></a>
                    </div>
                    <div class="bordaMeio">
                        <a href="{% url 'relatorio' %}"><span>Financeiro</span></a>
                    </div>
                    <div class="bordaFim">
                        <a href="{%url 'extrato' %}"><span>Extrato</span></a>
                    </div>
                </nav>
            </div>
            <div class="login">
                <div>
                </div>
                <div>
                    <img src="https://w7.pngwing.com/pngs/339/876/png-transparent-login-computer-icons-password-login-black-symbol-subscription-business-model.png" alt="Imagem Login" class="imageLogin">
                </div>
            
                {% if not usuario %}
                <div class="textoLogin">
                    <p> <strong><a href="../../usuarios/login">ENTRE</a></strong> ou crie seu <strong><a href="../../usuarios/cadastro">CADASTRO</a></strong></p>
                </div>
                {% else %}
                <div class="textoLogin">
                    <p>Bem-Vindo: {{usuario}}</p>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </header>

        {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
        {% endif %}

        <div class="conteiner">
            <div>
                <ul>
                    <li>Estoque</li>
                </ul>
            </div>
            <div>
            </div>
            <div class="add">
                <div class="novo">
                        <!-- Button trigger modal -->
                         <!--class="btn-secundario"-->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">+ Novo</button>
                </div>
                <div class="filtrar">
                    <form action="{% url 'estoque' %}" method="POST">{% csrf_token %}
                        <button  class="btn btn-primary" >Filtrar</button>
                                        
                        <input type="text" name="filtrar_produto" placeholder="Pesquisar...">
                    </form>
                </div>    
            </div>  
            <div class="limparFiltro">
                <a href="{% url 'estoque' %}"> <button class="btn btn-primary">Limpar Filtro</button></a>
             </div>
     
            </div>
                <table>
                    <tr>
                        <th scope="col" class="texto">Produto</th>
                        <th scope="col" class="numero">Quantidade</th>
                    </tr>
                    {% for produto in produtos %}
                    <tr class="linha-tabela">
                        <td class="texto">{{produto.nome}}</td>
                        <td class="numero">{{produto.quantidade}}</td>
                        <td class="numero"><button type="button" class="btn btn-primary" data-id="{{ produto.id }}" data-toggle="modal" data-target="#exampleModal2Center">Modificar</button><button class="btn btn-primary">Excluir</button></td>
                    </tr>
                    {% endfor %}
                </table>


        <article>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form action="{% url 'adicionar_estoque' %}" method="POST">{% csrf_token %}
                        <div class="modal-body">
                            <div class="entrada">
                                <div></div>
                                <div>
                                    <label for="produtos_estoque">Produto</label>
                                    <input type="text" name="produto"></input>
                                    <label for="quantidade">Quantidade</label>
                                    <input type="number" name="quantidade"></input>
                                    <label for="valor">Valor Total</label>
                                    <input type="number" name="valor" step="any"></input>
                                </div>
                                <div></div>
                            </div>
                        </div>
                        <div class="entrada">
                            <div></div>
                            <div>
                                <div>
                                <div class="rodabotao">
                                    <div></div>
                                    <button type="button" class="botao" data-dismiss="modal">Cancelar</button>
                                    <button class="btn-secundario">Fechar pedido</button>
                                    <div></div>
                                </div>
                                </div>
                            </div>
                            <div></div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </article>

        <article>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal2Center" tabindex="-1" role="dialog" aria-labelledby="exampleModal2CenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form action="{% url 'alterar_estoque' %}" method="POST">{% csrf_token %}
                        <input type="hidden" id="produto-id" name="produto-id">
                        <div class="modal-body">
                            <div class="entrada">
                                <div></div>
                                <div>
                                    <label for="produtos_estoque">Produto</label>
                                    <input type="text" name="produto"></input>
                                    <label for="quantidade">Quantidade</label>
                                    <input type="number" name="quantidade"></input>
                                </div>
                                <div></div>
                            </div>
                        </div>
                        <div class="entrada">
                            <div></div>
                            <div>
                                <div>
                                <div class="rodabotao">
                                    <div></div>
                                    <button type="button" class="botao" data-dismiss="modal">Cancelar</button>
                                    <button class="btn-secundario">Modificar</button>
                                    <div></div>
                                </div>
                                </div>
                            </div>
                            <div></div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </article>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.btn-modificar').click(function() {
                var produtoId = $(this).data('id'); // Obter o ID do produto
                $('#produto-id').val(produtoId); // Inserir o ID do produto no campo oculto do formulário
            });
        });
    </script>

{% endblock %}