{% extends "bases/base.html" %}
{% load static %}
    
{% block 'head' %}

    <link rel="stylesheet" href="{% static 'fincaneiro/CSS/css.css' %}" >

{% endblock 'head' %}


{% block 'conteudo' %}

    {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}


    <h1>receita = {{total_vendas}}</h1>
    <h1>despesa = -{{total_compras}}</h1>
    <h1>total = {{total}}</h1>


{% endblock %}