{% extends "bases/base.html" %}
{% load static %}
    
{% block 'head' %}

    <link rel="stylesheet" href="{% static 'financeiro/CSS/relatorio.css' %}" >
    <link rel="stylesheet" href="{% static 'financeiro/CSS/cabecalho.css' %}">

{% endblock 'head' %}


{% block 'conteudo' %}

    {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="body">
        <header>
            <div class="logo">
                <a href="/"><img class="foto" src="{% static 'geral/imagem/Finance2.png' %}"/></a>
            </div>
            <div class="meio">
                <h1>Controle Financeiro</h1>
                <nav>
                    <div class="bordaInicio">
                        <a href="{% url 'estoque'%}"><span>Estoque</span></a>
                    </div>
                    <div class="bordaMeio">
                        <a href="{% url 'vendas' %}"><span>Vendas</span></a>
                    </div>
                    <div class="bordaMeio">
                        <a href="{% url 'relatorio' %}"><span>Financeiro</span></a>
                    </div>
                    <div class="bordaFim">
                        <a href="{% url 'extrato' %}"><span>Extrato</span></a>
                    </div>
                </nav>
            </div>
            <div class="login">
                <div>
                </div>
                <div>
                    <img src="https://w7.pngwing.com/pngs/339/876/png-transparent-login-computer-icons-password-login-black-symbol-subscription-business-model.png" alt="Imagem Login" class="imageLogin">
                </div>
                <div class="textoLogin">
                    <p>Faça seu <strong><a href="../../usuarios/login">LOGIN</a></strong> ou crie seu <strong><a href="../../usuarios/cadastro">CADASTRO</a></strong></p>
                </div>
            </div>
        </header>

        <input type="date">

        <div class ="tabela">
            <div class="metade-esquerda">
                <table>
                    <tr>
                        <th>
                            <h2 class ="borda_baixo">Receita</h2>
                            <h2 class ="borda_baixo">Despesa</h2>
                            <h2>Total</h2>
                        </th>
                    </tr>
                </table>
            </div>
            <div class="metade-direita">
                <table>
                    <tr>
                        <th>
                            <h2 class ="borda_baixo">R$ {{total_vendas}}0</h2>
                            <h2 class ="borda_baixo">R$ -{{total_compras}}0</h2>
                            <h2 class="{% if total < 0 %}negativo{% elif total > 0 %}positivo{% endif %}">R$ {{total}}0</h2>
                        </th>
                    </tr>    
                </table>
            </div>
        </div>
        
    </div>


{% endblock %}