{% extends "bases/base.html" %}
{% load static %}
    
{% block 'head' %}

    <link rel="stylesheet" href="{% static 'fincaneiro/CSS/css.css' %}" >

{% endblock 'head' %}


{% block 'conteudo' %}

    {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <table>
        <tr>
            <th>ID</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço</th>
        </tr>
        {% for venda in vendas %}
            <tr class="linha-tabela">
                <td>{{venda.id}}</td>
                <td>{{venda.produto.nome}}</td>
                <td>{{venda.quantidade}}</td>
                <td>{{venda.preco}}</td>
            </tr>
        {% endfor %}
    </table>

    <a href="{% url "adicionar_vendas" %}" class="btn btn-light">+</a>


{% endblock %}