{% extends "bases/base.html" %}
{% load static %}
    
{% block 'head' %}

    <link rel="stylesheet" href="{% static 'fincaneiro/CSS/css.css' %}" >
    <link rel="stylesheet" href="{% static 'financeiro/CSS/cabecalho.css' %}">
    <link rel="stylesheet" href="{% static 'financeiro/CSS/modal.css' %}">
    <link rel="stylesheet" href="{% static 'financeiro/CSS/tabelaVendas.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    {% endblock 'head' %}
    
    
    {% block 'conteudo' %}
    
    
    <div class="body">
        <header>
            <div class="logo">
                <a href="/"><img class="foto" src="{% static 'geral/imagem/Finance2.png' %}"/></a>
            </div>
            <div class="meio">
                <h1>Controle Financeiro</h1>
                <nav>
                    <div class="bordaInicio">
                        <a href="{% url 'estoque'%}"><span>Estoque</span></a>
                    </div>
                    <div class="bordaMeio">
                        <a href="{% url 'vendas' %}"><span>Vendas</span></a>
                    </div>
                    <div class="bordaMeio">
                        <a href="{% url 'relatorio' %}"><span>Financeiro</span></a>
                    </div>
                    <div class="bordaFim">
                        <span>Contatos</span>
                    </div>
                </nav>
            </div>
            <div class="login">
                <div>
                </div>
                <div>
                    <img src="https://w7.pngwing.com/pngs/339/876/png-transparent-login-computer-icons-password-login-black-symbol-subscription-business-model.png" alt="Imagem Login" class="imageLogin">
                </div>
                {% if not usuario %}
                <div class="textoLogin">
                    <p> <strong><a href="../../usuarios/login">ENTRE</a></strong> ou crie seu <strong><a href="../../usuarios/cadastro">CADASTRO</a></strong></p>
                </div>
                {% else %}
                <div class="textoLogin">
                    <p>Usuário: {{usuario}}</p>
                </div>
                {% endif %}
            </div>
        </header>
        {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        <table>
        <div class="conteiner">
            <div>
                <ul>
                    <li>Vendas</li>
                </ul>
            </div>
            <div>
            </div>
            <div class="add">
                <div>
                        <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        +
                        </button>
                </div>
                <div>
                    <p>filtro</p>
                </div>
            </div>  
     
        </div>
        
            <tr>
                <th scope="col" class="texto">Produto</th>
                <th scope="col" class="numero">Quantidade</th>
                <th scope="col" class="numero">Valor</th>
                <th scope="col" class="numero">Data</th>
            </tr>
            {% for venda in vendas %}
                <tr class="linha-tabela">
                    <td class="texto">{{venda.produto.nome}}</td>
                    <td class="numero">{{venda.quantidade}}</td>
                    <td class="numero">{{venda.preco}}</td>
                    <td class="numero">{{venda.data}}</td>
                </tr>
            {% endfor %}
        </table>
        


        <article>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form action="{% url 'adicionar_vendas' %}" method="POST">{% csrf_token %}
                        <div class="modal-body">
                            <div class="entrada">
                                <div></div>
                                <div>
                                    <label for="produtos_existentes">Produtos</label>
                                    <select class="caixao" name="produtos_existentes">
                                    <option class="opt" value=""></option>
                                        
                                        {% for produto in produtos %}
                                            {% if produto.quantidade > 0 %}
                                                <option class="opt" value="{{produto.id}}">{{produto.nome}}</option>
                                            {% endif %} 
                                        {% endfor %}
                                    </select>
                                    <label for="quantidade">Quantidade Vendidade</label>
                                    <input type="number" name="quantidade"></input>
                                    <label for="valor">Valor Total</label>
                                    <input type="number" name="valor"></input>
                                </div>
                                <div></div>
                            </div>
                        </div>
                        <div class="entrada">
                            <div></div>
                            <div>
                                <div>
                                <div class="rodabotao">
                                    <div></div>
                                    <button type="button" class="botao" data-dismiss="modal">Cancelar</button>
                                    <button class="btn-secundario">Fechar pedido</button>
                                    <div></div>
                                </div>
                                </div>
                            </div>
                            <div></div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </article>
    </div>

{% endblock %}