
    <header>
        <div class="logo">
            <a href="/"><img class="foto" src="{% static 'geral/imagem/Finance2.png' %}"/></a>
        </div>
        <div class="meio">
            <h1>Controle Financeiro</h1>
            <nav>
                <div class="bordaInicio">
                    <a href="{% url 'estoque'%}"><span>Estoque</span></a>
                </div>
                <div class="bordaMeio">
                    <a href="{% url 'vendas' %}"><span>Vendas</span></a>
                </div>
                <div class="bordaMeio">
                    <a href="{% url 'relatorio' %}"><span>Financeiro</span></a>
                </div>
                <div class="bordaFim">
                    <span>Contatos</span>
                </div>
            </nav>
        </div>
        <div class="login">
            <div>
            </div>
            <div>
                <img src="https://w7.pngwing.com/pngs/339/876/png-transparent-login-computer-icons-password-login-black-symbol-subscription-business-model.png" alt="Imagem Login" class="imageLogin">
            </div>
            {% if not usuario %}
            <div class="textoLogin">
                <p> <strong><a href="../../usuarios/login">ENTRE</a></strong> ou crie seu <strong><a href="../../usuarios/cadastro">CADASTRO</a></strong></p>
            </div>
            {% else %}
            <div class="textoLogin">
                <p>Usuário: {{usuario}}</p>
            </div>
            {% endif %}
        </div>
    </header>