header {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  height: 17%;
}

.foto {
  width: 17%;
}

h1 {
  text-align: center;
}

nav {
  text-align: center;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  font-size: 16pt;
}

.bordaInicio {
  background-color: #1e5c8a;
  margin-right: 0.5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 90px 0px 0px 90px;
}

.bordaMeio {
  background-color: #1e5c8a;
  margin-right: 0.5px;
  margin-left: 0.5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bordaFim {
  background-color: #1e5c8a;
  margin-left: 0.5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px 90px 90px 0px;
}

span {
  color: #fafbfc;
}

.body {
  background-color: #edf8f9;
  height: 100vh;
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 21px;
}

.login {
  display: grid;
  grid-template-columns: 67% 10% 22%;
}
.imageLogin {
  width: 50px;
  height: 50px;
}

a {
  text-decoration: none !important;
}

.conteiner {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  margin: 0%;
  font-size: 25pt;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  margin: 0 10px;
  color: #0fbac4;
  font-size: 25pt;
}

.add {
  display: grid;
  grid-template-columns: 50% 50%;
}

.add button {
  font-size: 20pt;

  border-radius: 12px 12px 12px 12px;
  background-color: #1e5c8a;
  border: none;
}
