.tabela {
    display: flex; 
    margin: 0 30% 0.5% 30%;
    background-color: #1E5C8A;
    color: white;
    border-radius: 38px;
}
input{
    
    display: flex;
    margin: 5% auto;
    font-size: 30pt;
    background-color: #edf8f9;
    border: 0;
    align-items: center;
    justify-content: center;
    align-self: center;
}

input:focus{
    outline: none;
}

input[type=text] {
    text-transform: capitalize;
}

.metade-esquerda, .metade-direita {
    width: 100%;
    display: grid;
    text-align: center;
}

.metade-direita {
    border-left: 2px solid #edf8f9;
}

.metade-esquerda {
    border-right: 2px solid #edf8f9;
}

.borda_baixo {
    border-bottom: 4px solid #edf8f9;
}

.positivo {
    color: #4CFF4C;
}

.negativo {
    color: #FF4C4C;
}

h2 {
    margin: 0; 
    padding: 35px; 
    color: white;
}
