body {
    display: grid;
    place-items: center;
    background-color: #edf8f9;
}

.tabela {

    box-sizing: border-box;


    margin-left: 20%;
    margin-right: 20%;
  
    margin-top: 25px;
    color: white;
    background-color: #1E5C8A;
    border: 3px solid #000000;
    border-radius: 38px;

}