{% extends "bases/base.html" %}
{% load static %}
    
{% block 'head' %}

    <link rel="stylesheet" href="{% static 'usuarios/CSS/css.css' %}" >

{% endblock 'head' %}


{% block 'conteudo' %}
    <button id="voltarInicio" onclick="window.location.href='/'"><img src="{% static 'usuarios/img/voltar.png' %}" alt=""></button>

        {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    </div>

                <form action="{% url 'cadastro' %}" method="POST">{% csrf_token %}
                    
            
                    
                    <div id="cadastrarDiv">
                        <h1>Cadastrar</h1>
                        <div class="form-group">
                            <p>Email</p>
                            <input name="email" id="receber" type="text">
                        </div>
                        <div class="form-group">
                            <p>Senha</p>
                            <input name="senha" id="senha" type="password">
                        </div>
                        <div class="form-group">
                            <p>Confirmar Senha</p>
                            <input name="confirmar_senha" id="senha" type="password">
                        </div>
                        <div class="form-senha">
                            <p class = "cadastro">Já tem Cadastro? <a href="{% url 'login' %}">Fazer Login</a></p>
                        </div>
                        <div class="button-container">
                            <button id="entrar" type="submit">Cadastrar</button>
                        </div>
                    </div>

            
                    </div> 
                </form>

{% endblock %}